body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
.orange{

    color:white;
}
.donate-now-btn{
    background-image:linear-gradient(rgb(248, 7, 7), rgb(252, 78, 47));
    padding: 16px 20px 18px 20px;
    border-radius: 7px;
    text-decoration: none;
    line-height: 80px;
    font-size: 22px;
    border-color: blue;
    
}

.font-text{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20%;
}
.font-text h1{
    color: white;
    font-size: 70px;
}
.font-text p{
    color: white;
    font-size: 20px;
    margin-top: -28px;

}
.first-section{
    width: 100%;
    height: 100vh; 
    display: flex;
    background-image: url(images/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.taka-amount{
  
    display: flex;
        margin-bottom: 200px;
        padding-top: 200px;
        margin-left: 20%;
        
       
        text-align:center;
        text-decoration: none;
              
}
.one-hundred-tk{
   
        
    text-align: center;
    padding: 0px 25px 0px 25px;
    border-radius: 6px;
    text-decoration: none;
    line-height: 80px;
    font-size: 22px;
    background-color: rgb(241, 242, 243);
    color: gray;
    margin-right: 2%;
   
    
}
.box-clr{ 
    border: 2px solid red ;
     margin-top: 1px; 
    text-align: center;
    color: red;
    font-size: 22px;
      border-radius: 5px; 
      height: 170;
       width: 170px;
        background-color:rgb(248, 205, 205);
        margin-right: 2%;
        
     }
        


.second-section{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-bottom:120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    
    
}
.second-section h1{
    color:black;
    font-size: 50px;
}
.second-section p{
    color: gray;
    font-size: 20px;
    margin-top: -20px;
}
.hori{
    width: 55%;
    size: 100px;
    color: rgb(153, 25, 25);
}
.other-amount{
    margin-top: -160px;
    text-align: center; 
    font-size: 20px;
    color: rgb(184, 182, 182);
  height: 43vh; 
}

footer{

    background-color: rgb(0, 0, 17);
    height: 160px;
    padding-top: 1%;
  
    
    
}
footer h1{
    text-align: center;
    color: rgb(163, 36, 57);
    font-family:cursive;
}
footer p{
    text-align: center;
    font-size: 13px;
    color: white;
    font-family: monospace;
}





